mixin wdContent(words, config, addLogo)
  .col
    if addLogo ==='kv'
      .img.img__kv__logo
    //- .text-left
    if config && config === 'left'
      .wd-content.text-left
        .content-slogan!= words.slogan
          svg(viewBox='0 0 1060 64')
            path.stroke-left.stroke(d='M0 25.5 697.5 25.5 720.5 45')
            path.stroke-right.stroke(d='M1060.5 44.5 370.5 44.5 348.5 25')
            path.stroke-left.stroke(d='M0 25.5 697.5 25.5 690.5 25.4')
        .content-title!= words.title
        .content-info!= words.info
        block

    //- .text-right
    if config && config === 'right'
      .wd-content.text-right
        .content-slogan!= words.slogan
          .svg__slogan.active
            svg(viewBox='0 0 1060 64')
              path.stroke-left.stroke(d='M0 25.5 697.5 25.5 720.5 45')
              path.stroke-right.stroke(d='M1060.5 44.5 370.5 44.5 348.5 25')
              path.stroke-left.stroke(d='M0 25.5 697.5 25.5 690.5 25.4')

        .content-title!= words.title
        .content-info!= words.info
        block

    //- .text-center
    if config && config === 'center' && addLogo ==='kv'
      .wd-content.text-center
        .content-slogan__kv!= words.slogan
        .content-title__kv
          .no__wrap!= words.title[0]
          .no__wrap!= words.title[1]
          .no__wrap!= words.title[2]
        .content-info!= words.info
        block
        
    if !config
      .wd-content.text-center
        .content-slogan!= words.slogan
          .svg__slogan.active
            svg(viewBox='0 0 1060 64')
              path.stroke-left.stroke(d='M0 25.5 697.5 25.5 720.5 45')
              path.stroke-right.stroke(d='M1060.5 44.5 370.5 44.5 348.5 25')
              path.stroke-left.stroke(d='M0 25.5 697.5 25.5 690.5 25.4')
        .content-title!= words.title
        .content-info!= words.info
        block
      